body {
	  font-family: Arial, sans-serif;
	  font-size: 18px;
	  max-width: 625px;
	  width: 100%;
	}

input {
	margin: 5px;
	font-size: 14px;
	color: black;
	opacity: .8;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10%;
}

.map {
	max-width: 625px;
	width: 95%;
	height: 600px;
}